<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <form class="mb-9" action="/create" method="post" enctype="multipart/form-data">
        <div class="row g-3 flex-between-end mb-5">
            <div class="col-auto">
                <h2 class="mb-2">질문 등록</h2>
                <h5 class="text-body-tertiary fw-semibold">궁금한 점을 물어보세요.</h5>
            </div>
            <div class="col-auto">
                <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button" href="/readlist">취소</a>
                <button class="btn btn-primary mb-2 mb-sm-0" type="submit">등록</button>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-12 col-xl-8">
                <h4 class="mb-3">제목</h4>
                <input class="form-control mb-5" type="text" name="title" placeholder="Write title here...">
                <div class="mb-6">
                    <h4 class="mb-3"> 질문 내용</h4>
                    <textarea name="about" id="summernote"></textarea>
                </div>
                <h4 class="mb-3">이미지</h4>
                <div class="dropzone dropzone-multiple p-0 mb-5 dz-clickable" id="my-awesome-dropzone">
                    <input class="form-control" type="file" name="file"/>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="inputCountry">분류</label>
                    <select class="form-select text-body-emphasis" id="inputCountry" name="cate">
                        <option selected disabled>분류를 고르세요</option>
                        <option value="계정문의">계정문의</option>
                        <option value="상품문의">상품문의</option>
                        <option value="배송문의">배송문의</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
</html>