<nav th:fragment="navbarFragment" class="py-0">
    <div class="container-small">
        <div class="ecommerce-topbar">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <div class="row gx-0 gy-2 w-100 flex-between-center">
                    <div class="col-auto"><a class="text-decoration-none" href="/">
                        <div class="d-flex align-items-center"><img src="../../../assets/img/icons/logo.png"
                                                                    alt="phoenix" width="27">
                            <p class="logo-text ms-2">phoenix</p>
                        </div>
                    </a></div>
                    <div class="col-auto order-md-1">
                        <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
                            <li class="nav-item d-flex align-items-center">
                                <div class="theme-control-toggle fa-icon-wait px-2">
                                    <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox"
                                           data-theme-control="phoenixTheme" value="dark" id="themeControlToggle">
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           aria-label="Switch theme" data-bs-original-title="Switch theme">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-moon icon">
                                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                        </svg>
                                    </label>
                                    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                                           for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                                           aria-label="Switch theme" data-bs-original-title="Switch theme">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-sun icon">
                                            <circle cx="12" cy="12" r="5"></circle>
                                            <line x1="12" y1="1" x2="12" y2="3"></line>
                                            <line x1="12" y1="21" x2="12" y2="23"></line>
                                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                            <line x1="1" y1="12" x2="3" y2="12"></line>
                                            <line x1="21" y1="12" x2="23" y2="12"></line>
                                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                        </svg>
                                    </label>
                                </div>
                            </li>
                            <a class="btn btn-link text-body-tertiary p-0" href="#!">
                                <span data-feather="map-pin" style="width: 18px; height: 18px"></span>
                            </a>
                            <a class="btn btn-link text-body-tertiary p-0" href="#!">
                                <span data-feather="bell" style="width: 20px; height: 20px"></span>
                            </a>
                            <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="/signin">
                                <span data-feather="user" style="width: 20px; height: 20px"></span>
                            </a>

                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="search-box ecommerce-search-box w-100">
                            <form class="position-relative">
                                <input class="form-control search-input search form-control-sm" type="search"
                                       placeholder="Search" aria-label="Search">
                                <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                                </svg>
                                <!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->

                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- end of .container-->

</nav>
