<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container-small cart">
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
                <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>
        </nav>
        <h2 class="mb-5">Q&A List<span class="text-body-tertiary fw-normal ms-2">(43)</span></h2>
        <div class="border-y border-translucent" id="productWishlistTable"
             data-list="{&quot;valueNames&quot;:[&quot;products&quot;,&quot;color&quot;,&quot;size&quot;,&quot;price&quot;,&quot;quantity&quot;,&quot;total&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">
            <div class="table-responsive scrollbar">
                <table class="table fs-9 mb-0">
                    <thead>
                    <tr>
                        <th class="sort white-space-nowrap align-middle fs-10" scope="col" style="width:7%;">번호</th>
                        <th class="sort white-space-nowrap align-middle" scope="col" style="width:30%; min-width:250px;"
                            data-sort="products">이미지
                        </th>
                        <th class="sort align-middle" scope="col" data-sort="color" style="width:16%;">카테고리</th>
                        <th class="sort align-middle" scope="col" data-sort="size" style="width:10%;">제목</th>
                        <th class="sort align-middle text-end" scope="col" data-sort="price" style="width:10%;">본문
                        </th>
                        <th class="sort align-middle text-end pe-0" scope="col" style="width:35%;">작성일</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="profile-wishlist-table-body">
                    <th:block th:each="question:${questions}">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="price align-middle text-body fs-9 fw-semibold text-end" th:text="${question.getId()}"></td>
                            <td class="align-middle white-space-nowrap ps-0 py-0"><a
                                    class="border border-translucent rounded-2 d-inline-block"
                                    th:href="/readdetail/${question.getId()}">
                                <img th:src="|${awsEndPoint}/${question.getImg()}|" alt="" width="53"></a></td>
                            <td class="color align-middle white-space-nowrap fs-9 text-body" th:text="${question.getCate()}"></td>
                            <td class="products align-middle pe-11"><a class="fw-semibold mb-0 line-clamp-1"
                                                                       th:href="/readdetail/${question.getId()}"
                                                                       th:text="${question.title}"></a></td>
                            <td class="size align-middle white-space-nowrap text-body-tertiary fs-9 fw-semibold" th:text="${question.getAbout()}"></td>
                            <td class="total align-middle fw-bold text-body-highlight text-end text-nowrap pe-0" th:text="${question.getDate()}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info">1 to 5
                        <span class="text-body-tertiary"> Items of </span>9</p><a class="fw-semibold" href="#!"
                                                                                  data-list-view="*">View all
                    <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true"
                         focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                         style="transform-origin: 0.25em 0.5625em;">
                        <g transform="translate(128 256)">
                            <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                                      transform="translate(-128 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
                </a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less
                    <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true"
                         focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                         style="transform-origin: 0.25em 0.5625em;">
                        <g transform="translate(128 256)">
                            <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                                <path fill="currentColor"
                                      d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                                      transform="translate(-128 -256)"></path>
                            </g>
                        </g>
                    </svg>
                    <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
                </a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link disabled" data-list-pagination="prev" disabled="">
                        <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                        </svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                    <ul class="mb-0 pagination">
                        <li class="active">
                            <button class="page" type="button" data-i="1" data-page="5">1</button>
                        </li>
                        <li>
                            <button class="page" type="button" data-i="2" data-page="5">2</button>
                        </li>
                    </ul>
                    <button class="page-link pe-0" data-list-pagination="next">
                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                        </svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</div>
</html>