<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <h2 class="my-5">공지 수정</h2>
    <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
            <form action="/update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${notice.id}"/>
                <input type="hidden" name="img" th:value="${notice.img}"/>
                <div class="row g-4">
                    <div class="col-12">
                        <label class="form-label fs-8 text-body-highlight ps-0 text-transform-none"
                               for="inputName">제목</label>
                        <input class="form-control" id="inputName" type="text" placeholder="title" name="title"
                               th:value="${notice.getTitle()}"/>
                    </div>
                    <div class="col-12">
                        <label class="form-label fs-8 text-body-highlight ps-0 text-transform-none"
                               for="summernote">내용</label>
                        <textarea class="form-control" rows="5" id="summernote"
                                  name="about">[[${notice.getAbout()}]]</textarea>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label fs-8 text-body-highlight ps-0 text-transform-none" for="inputCountry">분류</label>
                        <select class="form-select text-body-emphasis" id="inputCountry" name="cate"
                                th:data-value="${notice.getCate()}">
                            <option th:value="${notice.getCate()}" selected disabled>[[${notice.getCate()}]]</option>
                            <option value="일반공지">일반공지</option>
                            <option value="회원공지">회원공지</option>
                            <option value="배송공지">배송공지</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <input class="form-control" type="file" name="file"/>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button class="btn btn-primary px-8 px-sm-11 me-2" type="submit">등록</button>
                        <a class="btn btn-danger px-8 px-sm-11 me-2" th:href="@{|/readdetail/${notice.getId()}|}" >취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>